.button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 0.9rem 3rem;
  box-shadow: var(--box-shadow);
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  &[disabled] {
    cursor: not-allowed;
    background: var(--dark-gray);
    color: var(--light-gray);
    pointer-events: none;
  }
  transition: all 0.3s;
}

.primary {
  background: var(--color-primary);
  color: var(--color-white);

  &:hover {
    background: var(--color-white);
    color: var(--color-primary);
  }
}
.secondary {
  background: var(--color-white);
  color: var(--color-primary);

  &:hover {
    background: var(--color-primary);
    color: var(--color-white);
  }
}
