.tooltip {
  position: absolute;
  padding: 0.4em 0.6em;
  font-size: 11px;
  min-width: 250px;
  color: var(--dark-gray);
  border-radius: 4px;
  background: hsl(0, 0%, 96%);
  min-height: 20px;
  margin: 4px 0;
}
